<h2>タスク詳細</h2>

<table>
  <tr>
    <th>タスク名</th>
    <th>内容</th>
  </tr>

  <tr>
    <td><%= @task.name %></td>
    <td><%= @task.content %></td>
  </tr>
</table>

<%= link_to :新規登録, new_task_path %>
<%= link_to :タスク一覧, tasks_path %>
